body{
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
}

.navBar{
    height: 70px;
    width: 100%;
    display: inline-grid;
    grid-template-columns:1fr;  
    background-color: rgb(80, 155, 245);
    font-family:  Helvetica, Arial, sans-serif;
    padding-top: 1.5%;
    position: fixed;
    top: 0;
    transition: 0.4s;
}

.navBarScroll{
   height: 70px;
    width: 100%;
    display: inline-grid;
    grid-template-columns:1fr;  
    font-family:  Helvetica, Arial, sans-serif;
    padding-top: 1.5%;
    position: fixed;
    top: 0;
    transition: 0.4s;
   color: red;
   background-color: rgba(80, 80, 80, 0.8);
}


.nav-container{
   width: 80%;
   margin: 0 auto;
   display: inline-grid;
   grid-template-columns:1fr 1fr;
   box-sizing: border-box;
   color : white

      
}
.nav-items{
   display: inline-grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   list-style: none;
}

#logo{
   height: 50px;
   color: rgb(255,255,255);
   font-weight: 400;
   box-sizing: border-box;

}

.promoSection{
   width: 100%;
   background-color: rgb(80, 155,245);
}
.containerAd{
    width: 80%;
    height: auto;
    padding: 2%;
    margin: 0 auto;
}

.promo h1{
   font-size: 80px;
   font-weight: 900;
   color:rgb(255,255,255);
   display: inline-block;
   font-family:  Helvetica, Arial, sans-serif;
   box-sizing : border-box;   
   
}

.cancelation{
   box-sizing: border-box;
   color: white;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 24px;
   font-weight: 600;
   letter-spacing: 0,25px;
   line-height: 36px;
   width: 100%;
}

.buttonPrincipal{
   background-color: rgb(30, 215, 96);
   color: white;
   border:0px;
   border-radius: 500px;
   font-size: 14px;
   font-weight: 700;
   transition-duration: 33ms;
   letter-spacing: 2px;
   text-align: center;
   padding: 17px 48px;


}

.buttonPrincipal:hover {
   transform: scale(1.04);
   background-color: rgb(30, 215, 96);
   color: rgb(255, 255, 255);

}

.sceenSection{
   width: 80%;
   margin: 0 auto;
}

.screen{
    display: inline-grid;
    grid-template-rows: 1fr 3fr;

}
.imagenPremium{
   width: 142px;
   height: 142px;

}

.icons{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    list-style: none;

}




.principalText{
   box-sizing: border-box;
   color: rgb(34, 35, 38);
   font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
   font-size: 21px;
   font-weight: 700;
   line-height: 31.5px;
   list-style-image: none;
   list-style-position: outside;
   list-style-type: none;
   margin-bottom: 10px

}

.screenContainer{
   background-color: white;

}

.screenContainer h1{
   font-size: 48px;
   font-weight: 900;
   color: black;
   font-family: Helvetica, Arial, sans-serif;
   box-sizing: border-box;
   background-color: white;
   text-align:center;
}

.secondText{
   box-sizing: border-box;
   color: rgb(34, 35, 38);
   font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   list-style-image: none;
   list-style-position: outside;
   list-style-type: none;
   width: 207.233px
}
.ratesIndividual{
   width: 80%;
   height: auto;
   margin: 0 auto;
   color: black;
   font-family: Arial, Helvetica, sans-serif;

}
/* 
.containerRatesIndividual{
   display: inline-grid;
   grid-template-rows: 0,5fr 0,5fr;
} */

.infoRatesIndividual{
   display: inline-grid;
   grid-template-rows: 0,5fr 1fr;
   width: 100%;
}

.tarifasRatesIndividual{
   display: inline-grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   width: 100%;
   line-height: 1,5;
   color: black;
}
.eleccion{
   width: 0 auto;
   height: 5%;
}
.eleccion p{
   width: 0 auto;
   height: 100px;
   font-size: 32px;
   font-weight: bold;
   letter-spacing: -1.28px;
   line-height: 1;
   text-align: center;
   margin: 0px;
}
.infoEleccion p{
   font-size: 16px;
   font-weight: normal;
   margin: 10px 0px;
   text-align: center;
   width: 0 auto;
}
.tarifa{
   display: inline-grid;
   width: 90%;
   margin: 0 auto;
   grid-template-rows: 0.5fr 0.5fr 1.5fr 4fr 1fr;
   border-radius: 10px;
   padding: 3%;
   box-shadow:white 0px 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px;
}

.mesGratis{
   width: 100%;
}

.mesGratis button{
   margin-top: 10px;
   height: 30px;
   background-color: rgb(46,119,208);
   border: 1px solid rgb(46,119,208);;
   border-radius: 4px;
   box-sizing: border-box;
   color: white;
   font-size: 14px;
   font-weight: 900;
   font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
}

.beneficioTarifa{
   width: 100%;
}

.beneficioTarifa ul{
   color: rgb(34, 35, 38);
   font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
   height: 100%;
   width: 100%;
   padding: 0%;
}

.beneficioTarifa li{
   list-style: none;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;

}

.contratarTarifa{
   color: rgb(34, 35, 38);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   line-height: 24px;
   width: 100%;

}
.contratarTarifa button{
   background-color: rgb(30,215,96);
   font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
   color: white;
   border: 1px solid rgb(30,215,96);
   border-radius: 150px;
   font-size: 14px;
   font-weight: 700;
   text-align: center;
   padding-bottom: 17px;
   padding-left: 48px;
   padding-right: 48px;
   padding-top: 17px;
   width: 100%;
}

.tipoTarifa{
   width: 100%;
}

.tipoTarifa p{
   box-sizing: border-box;
   color:black;
   font-weight: 700;
   font-family: spotify-circular,Arial, Helvetica, sans-serif;
   font-size: 24px;
   margin-bottom: 5px;
}
.cuotaTarifa{
   width: 100%;
}

.cuotaTarifa p{
   width: 80%;
   box-sizing: border-box;
   color: black;
   font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
   font-size: 16px;
}

.cuotaTarifa hr{
   width: 90%;
   color: rgba(0,0,0, 0.8);
   border-top: 1px solid rgba(0,0,0, 0.2);
}

.terms{
   width: 100%;
   font-size: 16px;
   text-align: center;
}

.terms a {
   list-style: none;
   color: black;
}


.bigContainerFooter{
   display: inline-grid;
   grid-template-columns: 2fr 3fr;
   height: 100px;
   width: 100%;
   margin: 0 auto;
   background-color: black;
   color: white;
}

.footerIzquierda{
   width: 100%;
   height: 100px;
}

.derechos{
   width: 80%;
   margin: 0;
   margin-left: 10%;
   height: 100%;
   display: inline-grid;
   grid-template-columns:1fr 1fr 3fr;
   list-style: none;
 }

 .derechos li{
   position: relative;
   width: 100%;
   color: rgb(145, 148, 150);
   font-family: Helvetica, Arial, sans-serif;
   font-size: 12px;
 }

 .itemFooter a {
  position: absolute;
  text-decoration: none;
  bottom: 30%;
  color: #919496
 }

 .itemFooter a:hover {
   color: rgba(100,100,10, 0.8);
  }


.footerDerecha{
   display: grid;
   grid-template-rows: 1fr 1fr;
   height: 100px;
}


.españa{
   width: 80%;
   margin: 0;
   margin-right: 10%;
   height: 100%;
 }

 .flatEspaña img {
   width: 20px;
   height: 20px;
 }

.españa li{
   margin-top: 20px;
   list-style: none;
   box-sizing: border-box;
   color: rgb(145, 148, 150);
   font-family: Helvetica, Arial, sans-serif;
   font-size: 10px;
   text-align: right;
}
   
